body {background-color: cadetblue; font-family: Serif;text-align: center}
h1 {background-color: beige; color: cadetblue}

p {color: White; font-size: large}
img {border: 2px white}
#container {border: solid 10px #ffffff; width:  1161px; margin: 0 auto; border-style: dotted}

#Fb {border:  solid 2px white}
#divlaugh {border: 2px white}

