body {background-color: purple; text-align: center}
#container {margin: 0 auto; width: 1024px}
header {background-color: green;
    font-size: large;
    padding-top: 60px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 60px;
}
header, section, p, article {border: solid 2px white;}
nav {background-color: antiquewhite; font-size: medium; border: solid 2px black}

section{;
    background-color: red;
    float: left;
    padding: 5px;
}
#sectionL {width:58%}
#sectionR {width: 37%; float: right}
#sectionheader {margin-bottom: 10px}
article {
    background-color: darkcyan;
    border-color: white;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 5px;
    padding-top: 15px;
}
#header2 {margin-bottom: 0px}
p {background-color: darkslategray; margin-bottom: 5px; margin-top: 0px}
#parabox {float: left; width: 58%}
aside {background-color: antiquewhite; float: right; width: 37%; border: solid 1px black;}
footer {background-color: antiquewhite; clear: both; border: solid 1px black; margin-top: 90px}