<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boxes</title>
  <link rel="stylesheet" href="stylesheetboxes.css">
</head>
<body>
    <div id="container">
        <header>
            PornHub
            <nav>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">click here for juicy porn!</a>
            </nav>
        </header>

        <section
                id="sectionL">Big anime titties
                    <header id="sectionheader">
                        Header text
                    </header>

                    <article>
                        Article text
                            <header id="header2">
                                Header text 2
                            </header>
                            <p>
                                Para <br> Para <br> Para
                            </p>
                            <p id="parabox">
                                Para <br> Para <br> Para
                            </p>
                            <aside>
                                Aside <br> Aside
                            </aside>
                            <footer>
                                Footer <br> Footer <br> Footer
                            </footer>
                    </article>

        </section>

        <section
                id="sectionR">rule 34
                    <header id="sectionheader2">
                    Header text
                    </header>
                    <nav id="nav2">
                        <a>Nav</a>
                    </nav>

        </section>
        <footer id="footertwo">
            Footer <br> Footer
        </footer>

    </div>

</body>
</html>

<!--
<a href="http://facebook.com">Facebook</a>
<a href="htp://Instagram.com">Instagram</a>
            -->
<!-- <p>
            <a>
                <img src="https://i.pinimg.com/236x/1a/64/b1/1a64b1d387961141fbfde6497f84eab6.jpg">
            </a>
        </p> -->
