<!DOCTYPE html>
<html lang="en">
<head>
    <title>FB!</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <div id="container">
    <h1>How can you tell if an HTML programmer has both arms and legs amputated?</h1>
        <p> < head > </p>
        <p> < /head > </p>
        <p> < body > </p>
        <p> < /body > </p>
        <p> Legs and arms. 404. CANNOT BE FOUND </p>

        <div id="divlaugh">
    <p>
        <a href="https://www.youtube.com/watch?v=IeHWAeoVhhk"><img src="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/625ebb7b-97e9-4b20-a58a-da554b9a7ad5_638x532.gif"></a>
    </p>
            <audio controls autoplay>
                <source src="Peter Griffin Laugh.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
</body>
</html>